.profilePic {
  width: 200px;
  height: 200px;
  vertical-align: top;
  margin-left: 23%;
  display: inline-block;
  border-radius: 20%;
  margin-bottom: 15px;
}

.profile {
  align-items: center;

}

.textBlock {
  line-height: 1.0em;
  margin-right:0px;
  word-wrap: break-word;
  text-align: center;
}

.text {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-style: solid;
  border-radius: 20px;
  background-color: grey;
  color:white
}

.inputText {
  color:white;

}

.bio {
  display: block;
  margin-top: 5px;
  word-wrap: break-word;
}

.bioUpdateText {
  height: 300px;
  width: 180px;
}

.updateButton {
  position: absolute;
  margin-left: 32%;
  width: 120px;
  margin-top: 1.5%;
}