.profilePic {
  width: 200px;
  height: 200px;
  vertical-align: top;
  margin-left: 23%;
  display: inline-block;
  border-radius: 20%;
  margin-bottom: 15px;
}

.profile {
  align-items: center;

}

.textBlock {
  line-height: 1.0em;
  margin-right:0px;
  word-wrap: break-word;
  text-align: center;
}

.text {
  padding: 5px;
    margin: 10px;
    border: 3px solid #7B9FCF;
    border-radius: 20px;
    text-align: center;
    color: black;
    font-size: larger;
    background-color: #7B9FCF;
}

.inputText {
  color:white;

}

.bio {
  display: block;
  margin-top: 5px;
  word-wrap: break-word;
}

.bioUpdateText {
  height: 300px;
  width: 180px;
}

.updateButton {
  position: absolute;
  margin-left: 32%;
  width: 120px;
  margin-top: 1.5%;
}

