.other-signUp img {
  width: 8vw;
}

.login-logo {
  width: 90vw;
  height: 90vw;
  border: solid 1px gray;
}

.container {
  display: grid;
}

#harmonyLogo {
  width: 50%;
  margin: 0 auto;
  margin-left: 100px;
}

